---
layout: base.njk
title: Canberra Popup Tech Hub
description: Check out this home page
permalink: "/"
---

<section class="mt-3 mb-5">
  <div class="mb-5">
    <h1 class="display-4">Welcome to the Canberra PopUp Tech Hub!</h1>
    <p class="lead">
      Located in the heart of Canberra, our tech hub is open for anyone to come co-work or to host their event.
      <br> 
    </p>
  </div>

  <div class="mb-5">
  <h2 class="text-secondary">Featured</h2>
  {% include "partials/featured.njk" %}
</div>

<div>
  <h2>What's on</h2>
  {% include "partials/eventsList.njk" %}
</div>

<div>
  <h2>Latest Posts</h2>
  {% set type = "preview" %}
  {% set excludeFeatured = false %}
  {% include "partials/postsList.njk" %}
</div>

</section>