---
layout: base.njk
title: Canberra Popup Tech Hub
description:  Located in the heart of Canberra, our tech hub is open for anyone to come co-work or to host their event. We will be here for 11 weeks, until the end of December.
permalink: "/"
---

<section class="mt-3 mb-5">
  <div class="mb-5">
    <h1 class="display-4">Welcome to the Canberra Tech Hub!</h1>
    <p class="lead">
      Located in the heart of Canberra, our tech hub is open for anyone to come co-work or to host their event. We will be
      here for 11 weeks, until the end of December.<br>
    </p>
  </div>
  <div>
    <h2>Upcoming</h2>
    {% set type = "upcoming" %}
    {% include "partials/eventsList.njk" %}
  </div>
  <br>
  <div>
    <h2>Past</h2>
    {% set type = "previewPast" %}
    {% include "partials/eventsList.njk" %}
  </div>
  <div>
    <h2>Gallery</h2>
    {% set path = "assets/uploads" %}
    {% set filterPrefix = "gallery" %}
    {% include "partials/gallery.njk" %}
  </div>
</section>