---
title: Event Template
description: Duplicate this file to start an event!
permalink: "/events/2025-00-00-event-template/"

eventDate: 2030-12-12
startTime: 9am
endTime: 12pm
location: "Canberra Popup Tech Hub"
---

To make a new event, duplicate this file, change it from .njk to .md and then start entering your event details!

