<style>
  .mauticform-page-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  @media(min-width: 768px) {
    .mauticform-page-1 {
      flex-direction: row;
      align-items: flex-end;
      gap: 1rem;
    }
  }
</style>
<section class="bg-body mt-5">
  <div class="text-center bg-body-tertiary px-5 pt-4 pb-1 rounded-3 shadow-sm border border-primary border-opacity-25 shadow-sm mb-4
      col-12">
    <h2 class="mb-3 text-primary">Join Our Mailing List</h2>
    <p class="text-muted mb-3">
      Subscribe for updates on events, workshops, new facilities, and our next pop-up tech hubs locations!
    </p>
      <script type="text/javascript" src="//engage.electronworkshop.com.au/form/generate.js?id=2"></script>
  </div>
</section>